<template>
  <div class="main-page">
    <table>
      <tr>
        <td>List of objects visible:</td>
        <td>
          <span v-for="(object, index) in image.objects" v-bind:key="index"
            >{{ object.name }}
          </span>
        </td>
      </tr>
      <tr>
        <td>Dimensions:</td>
        <td>{{ image.width }}x{{ image.height }}</td>
      </tr>
      <tr>
        <td>Date:</td>
        <td>{{ image.date }}</td>
      </tr>
    </table>
  </div>
</template>

<script>
const apiUrl = "https://atisapply.github.io/coco-sample-api/data.json";

export default {
  name: "details-page",

  data() {
    return {
      image: {},
    };
  },

  created() {
    this.fetchData();
  },

  methods: {
    fetchData() {
      fetch(apiUrl)
        .then((response) => response.json())
        .then((responseData) => {
          this.image = responseData.data.filter(image => (image.id == this.$route.params.id))[0];
        });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.main-page {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button-section {
  margin: 1rem 0;
}

.button-section button {
  font-size: 1rem;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 1rem;
  row-gap: 1rem;
}

.card {
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  overflow: hidden;
}

.image-info {
  padding: 0 0.5rem;
}

td:first-child {
  font-weight: bold;
}

td {
  padding: 0.5rem 0.5rem;
}
</style>
