<template>
  <div class="main-page">
    <section class="button-section">
      <button v-on:click="filterImages()">Show/Hide older images</button>
    </section>
    <div class="cards-wrapper">
      <div
        class="card"
        v-for="image in this.filteredImages"
        v-bind:key="image.id"
        @click="$router.push({ name: 'details', params: { id: image.id } })"
        @mouseenter="hoverImageId = image.id"
        @mouseleave="hoverImageId = null"
      >
        <img :src="image.coco_url" />
        <div class="image-info">
          <table>
            <tr>
              <td>Filename:</td>
              <td>{{ image.file_name }}</td>
            </tr>
            <tr
              class="hidden-details"
              :class="{ active: hoverImageId === image.id }"
            >
              <td>Tagline:</td>
              <td>
                <span
                  v-for="(object, index) in image.objects"
                  v-bind:key="index"
                  >{{ object.name }}
                </span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const apiUrl = "https://atisapply.github.io/coco-sample-api/data.json";

export default {
  name: "home-page",

  data() {
    return {
      images: [],
      filteredImages: [],
      filterOldImages: false,
      hoverImageId: null,
    };
  },

  created() {
    this.fetchData();
  },

  methods: {
    fetchData() {
      fetch(apiUrl)
        .then((response) => response.json())
        .then((responseData) => {
          this.images = this.filteredImages = responseData.data;
        });
    },

    filterImages() {
      if (!this.filterOldImages) {
        this.filteredImages = this.images.filter((image) => {
          return new Date(image.date) > new Date("2013-11-18");
        });
        this.filterOldImages = true;
      } else {
        this.filteredImages = this.images;
        this.filterOldImages = false;
      }
    },

    uniqueObjects(objects) {
      var uniqueObjects = [];
      objects.map((object) => {
        if (uniqueObjects.indexOf(object.name) === -1) {
          uniqueObjects.push(object.name);
        }
        return uniqueObjects;
      });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.main-page {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button-section {
  margin: 1rem 0;
}

.button-section button {
  font-size: 1rem;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 1rem;
  row-gap: 1rem;
}

.card {
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  overflow: hidden;
}

.image-info {
  padding: 0 0.5rem;
}

td:first-child {
  font-weight: bold;
}

td {
  padding: 0.5rem 0.5rem;
}

.hidden-details {
  display: none;
}

.hidden-details.active {
  display: table-row;
}
</style>
